DATABASE_HOST=
DATABASE_PORT=
DATABASE_NAME=
DATABASE_USER=
DATABASE_PASSWORD=

# URL de connexion à la database PostgreSQL
DATABASE_URL=postgresql://${DATABASE_USER}:${DATABASE_PASSWORD}@${DATABASE_HOST}:${DATABASE_PORT}/${DATABASE_NAME}

OPENWEATHER_API_KEY=
OPEN_AQ_API_KEY=
OPENAGENDA_API_KEY=
